.bg-primary{
    background-color: var(--bs-primary);
}

.bg-light {
    background-color: var(--bs-light);
}

.bg-white {
    background-color: var(--bs-white);
}

.color-primary {
    color: var(--bs-primary);
}

.color-light {
    color: var(--bs-light);
}

.color-gray-70{
    color: var(--bs-gray-700)
}

.text-align {
    text-align: justify;
}

.text-hidden {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.remark1 {
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--bs-gray-900);
}

.shadow1 {
    box-shadow: var(--bs-gray-100) 0px 3px 6px;
}

.img-cover {
    object-fit: cover;
}

.page-style {
    width: 32px;
    height: 32px;
    background-color: var(--bs-light);
    border-radius: 8px;
}

.button-primary {
    background-color: var(--bs-primary);
    color: var(--bs-black);
    font-weight: 500;
    letter-spacing: 1px;;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 100px;
}

.button-primary:hover {
    background-color: #BF8900;
    transition-duration: 0.5s;
    cursor: pointer;
}

.button-secondary {
    color: var(--bs-black);
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 200px;
}

.button-secondary:hover {
    background-color: var(--bs-gray-200);
    color: var(--bs-black);
    transition-duration: 0.5s;
    cursor: pointer;
}

.button-lg {
    font-size: 1.25rem;
}

.button-sm {
    font-size: 0.875rem;
    padding: 4px 12px;
}