.bg-primary{
    background-color: var(--bs-primary);
}

.bg-light {
    background-color: var(--bs-light);
}

.bg-white {
    background-color: var(--bs-white);
}

.color-primary {
    color: var(--bs-primary);
}

.color-light {
    color: var(--bs-light);
}

.color-gray-70{
    color: var(--bs-gray-700)
}

.text-align {
    text-align: justify;
}

.text-hidden {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.remark1 {
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--bs-gray-900);
}

.shadow1 {
    box-shadow: var(--bs-gray-100) 0px 3px 6px;
}

.img-cover {
    object-fit: cover;
}

.bn-size {
    width: 35vw;
}

/* elements start */

.page-style {
    width: 32px;
    height: 32px;
    background-color: var(--bs-light);
    border-radius: 8px;
}

.button-primary {
    background-color: var(--bs-primary);
    color: var(--bs-black);
    font-weight: 500;
    letter-spacing: 1px;;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 100px;
    transition-duration: 0.5s;
}

.button-primary:hover {
    background-color: #BF8900;
    transition-duration: 0.5s;
    cursor: pointer;
}

.button-secondary {
    color: var(--bs-black);
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 200px;
    transition-duration: 0.5s;
}

.button-secondary:hover {
    background-color: var(--bs-gray-200);
    color: var(--bs-black);
    transition-duration: 0.5s;
    cursor: pointer;
}

.button-lg {
    font-size: 1.25rem;
}

.button-sm {
    font-size: 0.875rem;
    padding: 4px 12px;
}

.activity-list,
.activity-list h6,
.activity-list .remark1 {
    transition-duration: 0.5s;
}

.activity-list img {
    transition-duration: 0.5s;
}

.activity-list:hover,
.activity-list:hover h6,
.activity-list:hover .remark1 {
    color: var(--bs-primary) !important;
    transition-duration: 0.5s;
}

.activity-list:hover img {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.donate-cover {
    z-index: 10;
    background-image: linear-gradient(0deg, rgba(44, 40, 27, 1) 0% ,rgba(44, 40, 27, 0) 100% );
    transition-duration: 0.5s;
}

.donate img {
    transition-duration: 0.5s;
}

.donate:hover img {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.activity-another {
    opacity: 0.7;
    transition: 0.5s;
}

.activity-another:hover {
    opacity: 1 !important;
    transition-duration: 0.5s;
}

/* elements end */

.nav-custom {
    display: flex;
    align-items: end;
}

.nav-menu-custom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    background: linear-gradient(180deg, rgba(254, 252, 242, 0) 0%, rgba(254, 252, 242, 1) 100%);
    border-radius: 0px 0px 0px 96px;
}

.intro-position {
    margin-top: -360px;
    z-index: 1000;
}

.activity-top {
    margin-top: 234px;
}

.activity-bottom {
    margin-bottom: 96px;
}

.issuee {
    border-radius: 96px 0px 96px 0px;
}

.contant > .row > div > div {
    padding: 96px 48px;
    border-radius: 96px 0px 0px 96px;
}

/* XL <1200px start */
@media screen and (max-width: 1199px) {
    .nav-custom {
        align-items: start;
    }

    .nav-menu-custom > .nav-item{
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 24px;
    }
}
/* XL <1200px end */

/* L <992px start */
@media screen and (max-width: 991px) {

    .banner > div {
        padding: 0px !important;
    }

    .intro {
        border-radius: 0px 0px 0px 24px;
    }

    .intro > .py-7 {
        padding: 0px !important;
    }

    .intro-position {
        margin-top: 0px;
        padding-top: 0px !important;
    }

    .intro-position > .col-12 > .bg-light {
        background-color: unset !important;
        box-shadow: none !important;
        padding: 0px !important;
    }

    .activity {
        padding: 0px 12px !important;
    }

    .activity-top {
        margin-top: 186px;
        margin-bottom: 0px !important;
    }

    .activity-top > div {
        padding: 0px !important;
    }

    .activity-bottom {
        margin-bottom: 48px;
    }

    .issuee {
        padding: 0px 12px !important;
        border-radius: 24px 0px 24px 0px;
    }

    .issuee-position {
        flex-direction: row !important;
    }

    .issuee-position > div {
        align-items: start !important;
        margin-bottom: 0px !important;
    }

    #donate {
        padding: 0px 12px !important;
    }

    .donate > .ratio-1x1 {
        --bs-aspect-ratio: 56.25% !important;
    }
    
    .contant > .row > div > div {
        padding: 48px 12px !important;
        border-radius: 24px 0px 0px 24px;
    }

    .contant-img {
        display: none;
    }

    .footer {
        padding: 24px 12px !important;
    }
}
/* L <992px end */

/* 手機版<576px start */
@media screen and (max-width: 576px) {
    .bn-size {
        width: 50vw;
    }
}
/* 手機版<576px end */